fieldset {
    display: flex;
    flex-flow: column nowrap;
}

#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

.custom-select {
    flex-direction: row;
}

.options {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.cheese {
    padding-right: 1vw;
}

.Footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4vh;
    width: 100%;
    background-color: #375a7f;
    color: white;
    text-align: center;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

button.btn.btn-primary.btn-lg {
    position: absolute;
    bottom: 6vh;
    right: 2vw;
}